.navbar-default {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.iframe-style {
    border-style: none;
    width: 100%;
    height: calc(100vh - 55px);
}